*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(90deg, var(--color_dark_bg_blue), var(--color_med_bg_blue), var(--color_li_bg_blue));

}

.max-width{
  max-width: 768px;
  padding: 20px 80px;
  margin: 0 auto;
}

.title{
  font-size: 1rem;
  font-weight: 600;
  color: var(--white_light);
  letter-spacing: 1.5px;

}

@media (max-width: 1025px){
  html{
    font-size: 15px;
  }
}
@media (max-width: 768px){
  html{
    font-size: 13px;
  }
  .max-width{
    padding: 20px 40px;
  }
}
@media (max-width: 576px){
  html{
    font-size: 12px;
  }
  .max-width{
    padding: 20px 20px;
  }
}

