*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.max-width{
  max-width: 1920px;
  padding: 0 80px;
  margin: 0 auto;
}

/* Navbar */

.navbar{
  width: 100%;
  padding: 30px 0;
}

.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-name{
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-options-main{
  list-style: none;
  display: inline-flex;
}

.nav-options-main li{
  margin: 0 20px;
}

/* Home Section */

.home-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 0;
}

.image-pfp{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-pfp img{
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 2px solid black;
}

.social-links{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a{
  color: black;
  font-size: 2.25rem;
  margin: 0 5%;
}

/*Project Section*/

.projects{
  width: 100vw;
  background-color: rgb(0, 238, 255);
  height: 500px;
  margin-top: 1000px;
}

