*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.max-width{
  max-width: 1920px;
  padding: 30px 80px;
  margin: 0 auto;
}

